<h2>Bienvenue dans les démo !</h2>

<nav>
    <ul>
        <li><a routerLink="demo1">Demo1 - Bindings</a></li>
        <li><a routerLink="demo2">Demo2 - Bindings two-ways</a></li>
        <li><a routerLink="demo3">Demo3 - Pipes</a></li>
        <li><a routerLink="demo4">Demo4 - Les directives Structurelles</a></li>
        <li><a routerLink="demo5">Demo5 - Les directives d'attribut custom</a></li>
        <li><a routerLink="inputoutput">Demo6 - Les Input Output</a></li>
        <li><a routerLink="demo7">Demo7 - DI - les services</a></li>
        <li><a routerLink="demo8">Demo8 - Formulaires </a></li>
        <li><a routerLink="demo9">Demo9 - Routing </a></li>
    </ul>
    <hr />
</nav>


<router-outlet></router-outlet>
